tests/schema/base-components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="spec:example:xsd:CommonBasicComponents-1.0"
    targetNamespace="spec:example:xsd:CommonBasicComponents-1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xsd:element name="Date" type="DateType"/>
  <xsd:element name="Indicator" type="IndicatorType"/>

  <xsd:complexType name="DateType">
  </xsd:complexType>
  <xsd:complexType name="IndicatorType">
  </xsd:complexType>

</xsd:schema>
